<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hiram.module.image.mapper.InfraredDescriptionMapper">

    <insert id="insertOne" parameterType="hiram.module.image.pojo.entity.InfraredDescription" useGeneratedKeys="true" keyProperty="descriptionId">
        insert into
        infrared_description(
        <if test="infraredId != null and infraredId != 0">infrared_id,</if>
        <if test="description != null and description != ''">description,</if>
        <if test="severityLevel != null and severityLevel != ''">severity_level,</if>
        <if test="xCoordinate != null">x_coordinate,</if>
        <if test="yCoordinate != null">y_coordinate,</if>
        <if test="bUltrasoundId != null and bUltrasoundId != 0">b_ultrasound_id,</if>
        version
        )
        values (
        <if test="infraredId != null and infraredId != 0">#{infraredId},</if>
        <if test="description != null and description != ''">#{description},</if>
        <if test="severityLevel != null and severityLevel != ''">#{severityLevel},</if>
        <if test="xCoordinate != null">#{xCoordinate},</if>
        <if test="yCoordinate != null">#{yCoordinate},</if>
        <if test="bUltrasoundId != null and bUltrasoundId != 0">#{bUltrasoundId},</if>
        1
        )
    </insert>

</mapper>