<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hiram.module.image.mapper.InfraredMapper">

    <resultMap id="baseMap" type="hiram.component.common.pojo.entity.BaseEntity">
        <result property="deleted" column="deleted" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="gmtModify" column="gmt_modify" />
        <result property="version" column="version" />
    </resultMap>

    <!--使用查询嵌套，解决一对多时的分页问题-->
    <resultMap id="infraredResult" type="hiram.module.image.pojo.vo.InfraredVO" extends="baseMap">
        <id property="infraredId" column="infrared_id" />
        <result property="patientName" column="patient_name" />
        <result property="username" column="username" />
        <collection property="infraredDescriptions" javaType="java.util.List" column="infrared_id" select="selectDescriptions"  />
    </resultMap>

    <resultMap id="infraredDescription" type="hiram.module.image.pojo.vo.InfraredDescriptionVO" extends="baseMap">
        <id property="descriptionId" column="description_id" />
        <result property="bUltrasoundId" column="b_ultrasound_id" />
        <association property="bUltrasound" javaType="hiram.module.image.pojo.po.BUltrasound" column="b_ultrasound_id" select="descriptionBUltrasound" />
    </resultMap>


    <!--集条件查询于一体-->
    <select id="selectInfraredList" parameterType="hiram.module.image.pojo.vo.InfraredListParam" resultMap="infraredResult">
        select infrared.*,patient_name,username
        from infrared_image infrared
        left join patient on infrared.patient_id=patient.patient_id
        left join user on infrared.user_id=user.user_id
        where infrared.deleted=0
        <if test="patientName != null and patientName != ''">
            and patient.patient_name like concat('%',#{patientName},'%')
        </if>
        <if test="beginTime != null and endTime != null">
            and Date(infrared.scan_time) &gt;= #{beginTime} and Date(infrared.scan_time) &lt;= #{endTime}
        </if>
    </select>

    <select id="selectDescriptions" resultMap="infraredDescription">
        select description.*
        from infrared_description description
        where infrared_id = #{infrared_id}
    </select>

    <select id="descriptionBUltrasound" resultType="hiram.module.image.pojo.po.BUltrasound">
        select *
        from b_ultrasound
        where b_ultrasound_id = #{b_ultrasound_id}
    </select>

    <insert id="insertOne" parameterType="hiram.module.image.pojo.po.Infrared" useGeneratedKeys="true" keyProperty="infraredId">
        insert into
        infrared_image(
        <if test="perspective != null and perspective != ''">perspective,</if>
        <if test="filename != null and filename != ''">filename,</if>
        <if test="path != null and path != ''">path,</if>
        <if test="scanTime != null">scan_time,</if>
        <if test="patientId != null and patientId != 0">patient_id,</if>
        <if test="userId != null and userId != 0">user_id,</if>
        version
        )
        values (
        <if test="perspective != null and perspective != ''">#{perspective},</if>
        <if test="filename != null and filename != ''">#{filename},</if>
        <if test="path != null and path != ''">#{path},</if>
        <if test="scanTime != null">#{scanTime},</if>
        <if test="patientId != null and patientId != 0">#{patientId},</if>
        <if test="userId != null and userId != 0">#{userId},</if>
        1
        )
    </insert>

</mapper>